@use '../util' as f;

h1,
h2,
h3 {
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
}

p {
    margin: 0;
}

a,
a:visited,
a:active {
    text-decoration: none;
}

/* font-sizes : 

Testimonials 
--------------------- 
Heading : 14px bold
para : 18px
name : 18px bold
designation : 16px 
*/

$base : f.$font-size;

$fontSizes : (
    "1" : $base * 0.25,  
    "2" : $base * 0.5,
    "3" : $base * 0.75,
    "4" : $base,
    "5" : $base * 1.25,
    "6" : $base * 1.5,
    "7" : $base * 1.75,
    "8" : $base * 2,
);

@each $fontSize, $fontSizeValue in $fontSizes {
    .text{
        &-#{$fontSize} {
            font-size: $fontSizeValue;
        }
    }
}

